@namespace SudaTales.Layout
@inherits LayoutComponentBase

<div class="app-shell">
    <header class="top-nav">
        <NavMenu />
    </header>

    <div class="body-area">

        <main class="content">
            @Body
        </main>
    </div>
</div>
