@namespace SudaTales.Layout

<nav class="nav-links">
    <NavLink href="/" Match="NavLinkMatch.All">Home</NavLink>
    <NavLink href="/stories">Stories</NavLink>
    <NavLink href="/about">About</NavLink>
</nav>
