@using SudaTales.Models

<p class="annotatable-paragraph @(IsActive ? "selected" : "")"
   @onclick="Select"
   @onclick:stopPropagation="true">
    @Paragraph.Text
</p>

@code {
    [Parameter, EditorRequired]
    public Paragraph Paragraph { get; set; } = default!;

    [Parameter, EditorRequired]
    public bool IsActive { get; set; }

    [Parameter, EditorRequired]
    public EventCallback<Paragraph> OnSelected { get; set; }

    private async Task Select()
    {
        await OnSelected.InvokeAsync(Paragraph);
    }
}
