@page "/about"

<div class="about-container">
    <h1>About SudaTales</h1>
    
    <section class="intro">
        <p>Welcome to Sudatales. A community run website for all things storytelling.</p>
    </section>
    <section class="mission">
        <h2>Our Mission</h2>
        <p>To provide a platform for writers and readers to share and explore stories from diverse genres and backgrounds.</p>    
    </section>
</div>

@code {
    // Component logic here
}