

@using SudaTales.Services
@using SudaTales.Models

@inject AnnotationRegistry Registry
@inject NavigationManager Nav

<h1>Annotations</h1>

@if (!Registry.GetAll().Any())
{
    <p>No annotations yet.</p>
}
else
{
    <ul>
        @foreach (var annotation in Registry.GetAll())
        {
            <li>
                <p>@annotation.Text</p>
                <button @onclick="() => GoToAnnotation(annotation)">
                    View in context
                </button>
            </li>
        }
    </ul>
}

@code {
    private void GoToAnnotation(Annotation annotation)
    {
        Nav.NavigateTo(
            $"/stories/{annotation.Location.StorySlug}"
        );
    }
}
